// // Body
// $body-bg: #fdfdfe;
// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// dashboard
$dashboard-width: 100%;
$dashboard-margin-r-l: (100 - $dashboard-width) / 2;