// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&subset=cyrillic');
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// fontawesome
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

.dashboard {
  width: $dashboard-width;
  margin-left: $dashboard-margin-r-l;
  margin-right: $dashboard-margin-r-l;
  .volumetric-container {
    height:80vh;
  }
}

.lang-switcher {
  color: #6c757d ;
  a {
    color: #6c757d;
    cursor: pointer;
    &:hover {
      color:red;
      text-decoration: none;
    }
  }
  a.active-lang {
    cursor: pointer;
    color: $primary;
    font-weight: bold;
  }
}

.resultsTable {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about {
  div {
    text-align: center;
    a {
      margin: auto 1%;
      font-size: 3em;
      color: $gray-500;
      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }
}